body{
    background-image: url(image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
div{
   display: flex;
    flex-flow: column;
    margin-left: 38%;
    margin-top: 3%;
    width: 20%;
    border: 1px gray;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px black;
   
}
#invariable{
    
    font-size: 1.3em;
    float: left;
      
}
#variable{
    float: right;
    color:white;
}
p{
  color:white;
}
input{
   
    width: 24%;
    height: 7%;
    background-color:antiquewhite;
    font-style: italic;
    font-size: 20px;
    color: gray;
    border: 1px dashed black;
    box-shadow: 10px 10px 10px black;
}
button{
      background-color: gray; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-left: 25%;
    box-shadow: 10px 10px 10px black;
}
