body{
    background-image:url(_20170921_161320.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}
ul{
    list-style: none;  
}

#miniTitle{            /* style of repository name*/
    font-style:oblique;
    font-size: 30px;
    color: darkred;
}
#listInfo{                       /*style of information about each repository*/
    margin-top:120px;
    float: right;
    font-size:20px; 
    color:chocolate;
}
#curriculumTitle{     /*style of the title of the left list*/
    font-size: 30px;
    color: gold;
    font-family: 'Wendy One', sans-serif;
}

#curriculumList{     /*style of the left list*/
    float: left;
     font-size: 33px;
    color:darkred;
}
#namesOfTitles:hover{
    background-color: aliceblue;
}
